<div id="section-{{ section.id }}" class="section-full-width">
  <h1 class="red">Bla</h1>
  <div class="box">
    <div class="grid">
      <div class="grid__item four-twelfths custom-gallery-column">
        <div class="image-top">
          {{ section.blocks[0].settings.image | img_url: '2048x' | img_tag }}
        </div>
        <div class="image-bottom">
          {{ section.blocks[1].settings.image | img_url: '2048x' | img_tag }}
        </div>
      </div>
      <div class="grid__item eight-twelfths custom-gallery-column">
        <div class="image-top">
          {{ section.blocks[2].settings.image | img_url: '2048x' | img_tag }}
        </div>
        <div class="grid image-bottom">
          <div class="grid__item sixth-twelfths">
            <div>
              {{ section.blocks[3].settings.image | img_url: '2048x' | img_tag }}
            </div>
          </div>
          <div class="grid__item sixth-twelfths">
            <div>
              {{ section.blocks[4].settings.image | img_url: '2048x' | img_tag }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Custom Gallery",
  "tag": "section",
  "class": "custom-gallery",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}